:root {
  --background-color: #125f4f;
  --label-color: #ededed;
  --input-background-color: #ffffff;
  --input-text-color: #1e1e1e;
  --primary-button-bg-color: #258f7a;
  --primary-button-border-color: #258f7a;
  --primary-button-hover-bg-color: #1e7966;
  --primary-button-hover-border-color: #1e7966;
}

body {
  background-color: #1bbc9b !important;
}

.container-fluid {
  margin-top: 5vh;
}

.login-form {
  width: 100%;
  max-width: 600px;
}

.label {
  font-size: 0.9rem;
  color: var(--label-color);
  font-weight: bold;
}

.form-control {
  background-color: var(--input-background-color) !important;
  color: var(--input-text-color) !important;
  height: 35px;
}

.btn-primary {
  background-color: var(--primary-button-bg-color) !important;
  border-color: var(--primary-button-border-color) !important;
  height: 40px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .login-form {
    max-width: 90%;
  }
}